h1 {color:rgb(255, 255, 255);}
h1 {text-align: center}
h2 {text-align: center}
p {text-align: center}
i {text-align: center}
#i1 {margin-left: 23%;}
body {background-color: hotpink;}
h2 {color:rgb(255, 255, 255)}
i {color:rgb(255, 255, 255)}
p {color:rgb(255, 255, 255)}
b {color:rgb(255, 255, 255)}
a {color:rgb(0, 0, 0)}
h3 {text-align: center}
#i2 {margin-left: 3%;}
#i2 {margin-top: 3%;}